@media screen and (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .dropdownOpen .dropdownOptions {
        display: flex;
        flex-direction: column;
    }
    .filtersDropdowns {
        justify-content: center;
    }
    main {
        margin: 0 20px;
    }
    .dropdown{
        width: 170px;
    }
    .recipeTitle{
        width: 170px;
    }
    .filtersSelected{
        justify-content: center;
    }
}