
body {
    margin: 0;
    font-family: "DM Sans";
    font-weight: normal;
    font-style: normal;
}
header {
    margin: 42px 0 17px;
}
main {
    margin: 0 100px;
}
.form-control:focus, .btn:focus {
    background: unset;
    color: unset;
    box-shadow: unset;
}

/* logo et titre */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 50px;
}
.logo h1 {
    margin: 0;
    font-family: "DM Sans";
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    line-height: 47px;
    color: #D04F4F;
}

/* barre de recherche */
.search {
    background: #E7E7E7;
    border-radius: 5px;
}
.search input, .search button {
    background: none;
    border: none;
}
.search input {
    padding: 23px 22px 24px;
    font-size: 18px;
}
.search input::placeholder {
    font-family: "DM Sans";
    opacity: 0.80;
}
.input-group-append {
    display:flex;
    align-items: center;
}
.search button {
    padding-right: 20px;
}

/* filtres/liste déroulante */
.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    margin: 25px 0;
}
.ingredient, .appliance, .utensil{
    border-radius: 5px;
}
.ingredient {
    background: #3282F7;
}
.appliance {
    background: #68D9A4;
}
.utensil {
    background: #ED6454;
}
.filtersSelected {
    display: none;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 0 20px;
}
.filter {
    display: flex;
    align-items: center;
    gap: 13px;
    min-height: 37px;
    padding: 0 20px;
    color: white;
    font-weight: bold;
}
.filter img {
    cursor: pointer;
    transition: .2s;
}
.filter img:hover {
    filter: brightness(0.5) sepia(1) saturate(10000%);
    transform: scale(1.2);
}
.filtersDropdowns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.dropdown {
    min-width: 170px;
    width: 170px;
    height: 69px;
    margin: -5px 0 0;
}
.dropdown input, .dropdown button {
    background: none;
    border: none;
}
.dropdown input {
    color: white;
    font-family: "DM Sans";
    font-weight: bold;
}
.dropdown input:focus {
    color: white;
}
.dropdown input::placeholder {
    color: white;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: bold;
}
.dropdown input:focus::placeholder {
    color: transparent;
}  
.dropdownOpen button img { 
    transform: rotate(180deg);
}
.dropdownOptions {
    position: absolute;
    display: none;
    top: calc(100% - 1px);
    left: 0;
    padding: 0 20px 5px;
    z-index: 3;
    color: white;
    font-size: 18px;
    line-height: 22px;
    border-radius: 0 0 5px 5px;
}
.dropdownOptions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    white-space: nowrap;
}
.dropdownOptions ul:not(:last-of-type) {
    padding: 0 20px 0 0;
    width: 240px;
}
.dropdownOptions li {
    padding: 0 0 10px;
    text-overflow: ellipsis; 
    overflow: hidden;
    cursor: pointer;
}
.dropdownOptions ul:last-of-type li {
    padding: 0 4px 10px 0;
}
.dropdownOptions li::first-letter {
    text-transform: capitalize;
}
.dropdownOptions li:hover {
    box-shadow: -4px -4px 0px 4px rgb(0 0 0/.1);
    background: rgb(0 0 0/.1);
    background-attachment: local;
}
.dropdownOptions ul:last-of-type li:hover {
    box-shadow: -4px -4px 0px 4px rgb(0 0 0/.1);
}    
.dropdownOpen {
    border-radius: 5px 5px 0 0;
}
.dropdownOpen .dropdownOptions {
    display: flex;
}
.dropdownOptions ul li.nothingAvailable:hover{
    cursor: unset;
    box-shadow: unset;
    background: unset;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0;
    border-bottom-left-radius: 5px;
}

/* recettes/ cards */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px;
}
.grid .card-img-top {
    height: 178px;
    object-fit: cover;
    background: #C7BEBE;
}
.grid .card {
    overflow: hidden;
    border: none;
    background: #E7E7E7;
}
.grid .card-body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px;
}
.recipeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 20px;
}
.recipeHeader h2 {
    margin: 0;
}
.recipeTime {
    display: flex;
    gap: 7px;
}
.recipeMinutes {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.recipeTitle{
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
}
.recipeIngredients, .recipePreparation {
    margin: 0;
    overflow: hidden;    
}
.recipeIngredients {
    width: 58%;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    padding: 0;
    min-height: 105px;
}
.recipeIngredientName {
    font-weight: bold;
}
.recipePreparation {
    width: 40%;
    /* margin-left: 1%; */
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 16px;
    font-family: "DM Sans";
    font-style: normal;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}


